@charset "UTF-8";

/* Cores: 
Lilás escuro: #34005C
Lilás mais claro: #894BE3
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: #55296B;
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;   /* Tudo que estiver fora da borda ficará escondido */

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);

    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;  /* Possiblita que a animação fique mais suave */
}

section#login > div#image {
    background: #55296B url(../assets/entrada.jpg) no-repeat;
    background-size: cover;
    background-position: right center;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

section#login > div#form > h1 {
    margin-bottom: 7px;
    text-align: center;
}

section#login > div#form > p {
    font-size: 0.8em;
    margin: 5px;
    margin-bottom: 10px;
}

form > div.espaco {
    background-color: #55296B;
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid #55296B;
    border-radius: 7px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.espaco > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.espaco > input {
    background-color: rgb(240, 240, 206);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 7px;
    padding: 4px;
    transform: translateY(-13px);
}

div.espaco > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    width: 100%;
    height: 30px;
    background-color: #AE749D;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #94487d;
}

form > a.botao {
    display: block;
    text-align: center;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    font-size: 1em;
    border: 1px solid #AE749D;
    border-radius: 6px;
    text-decoration: none;
    color: #94487d;
}

form > a.botao:hover {
    background-color: #80436d;
    color: white;
}

form > a.botao > span {
    font-size: 0.8em;
}